[submodule "algorithms/ORB_SLAM3"]
	path = algorithms/ORB_SLAM3
	url = https://github.com/olayasturias/ORB_SLAM3.git
[submodule "algorithms/TrianFlow"]
	path = algorithms/TrianFlow
	url = https://github.com/olayasturias/TrianFlow
[submodule "algorithms/dso"]
	path = algorithms/dso
	url = https://github.com/olayasturias/dso
[submodule "algorithms/DF-VO"]
	path = algorithms/DF-VO
	url = git@github.com:olayasturias/DF-VO.git
